:root {
  /* Colors */
  --Light-Moderate-violet: hsl(263, 98%, 84%);
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --light-grayish-blue: hsl(193, 16%, 76%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
  --primary-white-opacity-70: hsla(0, 0%, 100%, 0.7);
  --white-opacity-50: hsla(0, 0%, 100%, .5);
  --primary-blackish-blue-opacity-70: hsl(219, 29%, 14%, 0.7);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", serif;
  background-color: var(--Light-grayish-blue);
  display: grid;
  place-items: center;
  min-height: 100vh;
  color: var(--White);
}

.testimonials-grid {
  padding: 4rem 1.5rem;
  display: grid;
  gap: 1.8rem;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
  ;
}

.testimonial {
  border-radius: 10px;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 1rem;
  background-color: black;
  align-items: start;
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.15);
}

.graduate-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.graduate-image {
  border-radius: 50%;
  width: 40px;
  border: 2px solid var(--Moderate-violet);
}

.graduate-name,
.graduate-state {
  display: block;
}



.graduate-name {
  font-weight: 500;
}

.graduate-heading {
  font-weight: 500;
  font-size: 1.2rem;
}

.graduate-description {
  line-height: 1.5;
  font-size: 1rem;
}




.testimonial:nth-child(1) {
  background-color: var(--Moderate-violet);
  background-image: url("./images/bg-pattern-quotation.svg");
  background-position: top right 15%;
  background-repeat: no-repeat;
  grid-area: one;

  .graduate-image {
    border-color: var(--Light-Moderate-violet);
  }

  .graduate-description,
  .graduate-state {
    color: var(--Light-Moderate-violet)
  }
}

.testimonial:nth-child(2) {
  grid-area: two;
  background-color: var(--Very-dark-grayish-blue);

  .graduate-image {
    border-color: var(--primary-white-opacity-70);
  }



  .graduate-state,
  .graduate-description {
    color: var(--primary-white-opacity-70)
  }

}

.testimonial:nth-child(3),
.testimonial:nth-child(5) {
  grid-area: three;
  background-color: var(--White);
  color: var(--Very-dark-grayish-blue);

  .graduate-image {
    border-color: transparent;
  }

  .graduate-state {
    opacity: .5;
  }

  .graduate-description {
    color: var(--primary-blackish-blue-opacity-70)
  }
}


.testimonial:nth-child(4) {
  grid-area: four;
  background-color: var(--Very-dark-blackish-blue);

  .graduate-image {
    border-color: var(--Moderate-violet);
  }


  .graduate-description,
  .graduate-state {
    color: var(--white-opacity-50);
  }
}


.testimonial:nth-child(5) {
  grid-area: five;
}



/* desktop */

@media (min-width: 35em) {

  .testimonials-grid {

    grid-template-areas:
      "one one"
      "two three"
      "four four"
      "five five"
    ;
  }

}

@media (min-width: 55em) {
  .graduate-heading {
    font-weight: 500;
    font-size: clamp(0.9rem, 1.5vw, 1.3rem);
  }

  .graduate-description {
    line-height: 1.5;
    font-size: clamp(0.9rem, 1.5vw, 1rem);
  }


  .testimonial:nth-child(1),
  .testimonial:nth-child(4) {
    .graduate-heading {
      font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    }

    .graduate-description {
      font-size: clamp(0.7rem, 1.4vw, .9rem);
    }
  }

  .testimonials-grid {
    max-width: 1400px;

    grid-template-areas:
      "one one two five"
      "three four four five"
    ;
  }
}